body{
    font-family:Arial, Helvetica, sans-serif;
    background:url(imagenes/Fondo/fondo_4.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 100px;
    margin-block-start: -1em;

}

.texto_inicio{
    background-color: #abb2b9;
    border: 2px solid #212f3c;
    padding: 20px;
    margin: 30px ;
    max-width: 800px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px ;
    color:#000;
}

.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

.noticia_imagen_derecha{
    width: 100%;
    height: auto;
    max-width: 100px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.noticias_1{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 8px;
    color: #000000;
    max-width: 1300px;
    margin-bottom: 20px;
    background-color: transparent;
}

.noticia_texto{
    flex: 1;
    margin-right: 15px;
}
.noticia_texto{
    font-size: 18px;
    margin: 0;
}
.noticia_enlace{
    color: #000000;
    text-decoration: none;
}
.noticia_enlace:hover{
    text-decoration: underline;
}
.noticia_texto p{
    margin-top: 15px;
    font-size: 14px;
}
.noticia_imagen{
    width: 100px;
    height: auto;
    border-radius: 4px;
}